<%= render "components/header" %>
<div class="bandeau">
<br>
<h1 class="t1_bandeau">Ambassadeur</h1>
<br>
<h2 class="t_bandeau">Portraits d’artistes engagés
dans la culture.</h2>
</div>

<div class="index_2">
<% if user_signed_in? %>
<div class="btn btn-light btn-banner-p"><%= link_to "Ajouter un ambassadeur", new_ambassadeur_path %></div>
<% end %>
<div class="display-grid-card">
  <% @ambassadeur.each do |ambassadeur| %>
    <div class="prise">
      <% if user_signed_in? %>
        <div class ="">
          <%= link_to 'Supprimer', ambassadeur_path(ambassadeur),
            method: :delete,
            data: { confirm: 'Êtes-vous certain de vouloir supprimer?' } %>
          <%= link_to "Editer", edit_ambassadeur_path(ambassadeur.id)%>
        </div>
      <% end %>
          <div class="linear">
            <%= link_to(image_tag("#{ambassadeur.img1_a}", alt: "Art Prise, Place à la culture de demain!"), ambassadeur_path(ambassadeur.id)) %>
            <div class="flex_a">
              <h6 class=""><%= ambassadeur.nom_ambassadeur%></h6>
              <h5 id="info_a"> Le <%= ambassadeur.date_a %> à <%= ambassadeur.lieu_a %></h5>
            </div>
            <div class="img-avatar-a">
            <%= link_to(image_tag("#{ambassadeur.avatar_img_a}", alt: "Art Prise, Place à la culture de demain!"), ambassadeur_path(ambassadeur.id)) %>
            </div>

          </div>
    </div>
     <% end %>
  </div>

</div>
<%= render "components/footer" %>
