
<div class="d-flex container justify-content-center display-bubble">
    <%= simple_form_for(@prise) do |f| %>
         <%= f.error_notification %>
         <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

         <div class="form-inputs">
           <h3 class="title-new">Modifier un prise</h3>
           <h5>Nom de l'artiste</h5>
          <%= f.input :nom_ambassadeur %>
          <h5>Nom de l'auteur</h5>
          <%= f.input :nom_auteur_a %>
          <h5>Titre de l'article</h5>
          <%= f.input :titre_a %>
          <h5>Sous-titre</h5>
          <%= f.input :sous_titre_a %>
          <h5>Photo de l'artiste</h5>
          <%= f.input :avatar_img_a %>
          <h5>Date de l'article</h5>
           <%= f.input :date_a %>
           <h5>Lieu</h5>
           <%= f.input :lieu_a %>
           <h5>Site internet</h5>
           <%= f.input :lien_url1_a %>
           <h5>Site internet</h5>
           <%= f.input :lien_url2_a %>
           <h5>Vidéo</h5>
           <%= f.input :video_a %>
           <h5>Image 1</h5>
           <%= f.input :img1_a %>
           <%= f.input :img2_a %>
           <%= f.input :img3_a %>
           <%= f.input :img4_a %>
           <%= f.input :img5_a %>
           <%= f.input :img6_a %>
           <%= f.input :img7_a %>
           <%= f.input :img8_a %>
           <%= f.input :img9_a %>
           <%= f.input :img10_a %>
           <h5>Legendes</h5>
           <%= f.input :legend1_a %>
           <%= f.input :legend2_a %>
           <%= f.input :legend3_a %>
           <%= f.input :legend4_a %>
           <%= f.input :legend5_a %>
           <%= f.input :legend6_a %>
           <%= f.input :legend7_a %>
           <%= f.input :legend8_a %>
           <%= f.input :legend9_a %>
           <%= f.input :legend10_a %>
           <h5>Introduction</h5>
           <%= f.input :introduction_a %>
           <h5>Q1</h5>
           <%= f.input :question1 %>
           <h5>Paragraphe</h5>
           <%= f.input :paraph1_a %>
           <h5>Q2</h5>
           <%= f.input :question2 %>
           <h5>Paragraphe</h5>
           <%= f.input :paraph2_a %>
           <h5>Q3</h5>
           <%= f.input :question3 %>
           <h5>Paragraphe</h5>
           <%= f.input :paraph3_a %>
           <h5>Q4</h5>
           <%= f.input :question4 %>
           <h5>Paragraphe</h5>
           <%= f.input :paraph4_a %>
           <h5>Q5</h5>
           <%= f.input :question5 %>
           <h5>Paragraphe</h5>
           <%= f.input :paraph5_a %>
           <h5>Q6</h5>
           <%= f.input :question6 %>
           <h5>Paragraphe</h5>
           <%= f.input :paraph6_a %>
           <h5>Q7</h5>
           <%= f.input :question7 %>
           <h5>Paragraphe</h5>
           <%= f.input :paraph7_a %>
           <h5>Q8</h5>
           <%= f.input :question8 %>
           <h5>Paragraphe</h5>
           <%= f.input :paraph8_a %>
           <h5>Q9</h5>
           <%= f.input :question9 %>
           <h5>Paragraphe</h5>
           <%= f.input :paraph9_a %>
           <h5>Q10</h5>
           <%= f.input :question10 %>
           <h5>Paragraphe</h5>
           <%= f.input :paraph10_a %>
         </div>

         <div class="form-actions">
           <%= f.submit "Save changes", class: "btn btn-danger title-new" %>
         </div>
       <% end %>
</div>

