<%= render "components/header" %>
<div class="bandeau">
<br>
<h1 class="t1_bandeau">Prise</h1>
<br>
<h2 class="t_bandeau">Journées professionnelles gratuites
à destination des artistes</h2>
</div>
<div class="index_2">
<h1 class="title-p">Dernier Prise</h1>
<% if @prise && @prise.last && @prise.last.video_p %>
  <iframe width="930" height="560"
    src="<%= @prise.last.video_p %>"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
  </iframe>
  <% end %>

<% if user_signed_in? %>
<div class="btn btn-light btn-banner-p"><%= link_to "Ajouter un Prise", new_prise_path %></div>
<% end %>

<div class="display-grid-card">
  <% @prise.each do |prise| %>
    <div class="prise">
      <% if user_signed_in? %>
        <div class ="">
          <%= link_to 'Supprimer', prise_path(prise),
            method: :delete,
            data: { confirm: 'Êtes-vous certain de vouloir supprimer?' } %>
          <%= link_to "Editer", edit_prise_path(prise.id)%>
        </div>
      <% end %>
          <div class="linear">
            <%= link_to(image_tag("#{prise.img_p1}", alt: "Art Prise, Place à la culture de demain!"), prise_path(prise.id)) %>
            <h1><%= prise.titre_p %></h1>
            <div class="info_p">
            <h4 class=""><%= prise.date_p %></h4>
            <h5 class=""><%= prise.lieu_p %></h5>
            </div>
          </div>
    </div>
     <% end %>
  </div>

</div>
<%= render "components/footer" %>
