<div class="d-flex container justify-content-center display-bubble">
    <%= simple_form_for(@prise) do |f| %>

         <%= f.error_notification %>
         <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

         <div class="form-inputs">
          <h3 class="title-new">Ajouter un Prise</h3>
          <h5>Titre</h5>
           <%= f.input :titre_p %>
           <%= f.input :sous_titre_p %>
          <h5>Date</h5>
           <%= f.input :date_p %>
          <h5>Lieu</h5>
           <%= f.input :lieu_p %>
          <h5>Lien</h5>
           <%= f.input :lien_url1_p %>
           <%= f.input :lien_url2_p %>
          <h5>Vidéo</h5>
           <%= f.input :video_p %>
          <h5>Introduction</h5>
           <%= f.input :introduction_p1 %>
           <h5>Paragraphes</h5>
           <%= f.input :paraph_p1 %>
           <%= f.input :paraph_p2 %>
           <%= f.input :paraph_p3 %>
           <%= f.input :paraph_p4 %>
          <h5>Images</h5>
           <%= f.input :img_p1 %>
           <%= f.input :img_p2 %>
           <%= f.input :img_p3 %>
           <%= f.input :img_p4 %>
           <%= f.input :img_p5 %>
          <h5>Légende</h5>
           <%= f.input :legend_p1 %>
           <%= f.input :legend_p2 %>
           <%= f.input :legend_p3 %>
           <%= f.input :legend_p4 %>
           <%= f.input :legend_p5 %>
          <h5>Intervenants img</h5>
           <%= f.input :avatar_img_p1 %>
           <h5>Intervenants Nom</h5>
           <%= f.input :avatar_name_p1 %>
           <h5>Intervenants Rôle</h5>
           <%= f.input :avatar_titre_p1 %>
           <h5>Intervenants Site internet</h5>
           <%= f.input :avatar_url_p1 %>
           <h5>Intervenants img</h5>
           <%= f.input :avatar_img_p2 %>
           <h5>Intervenants Nom</h5>
           <%= f.input :avatar_name_p2 %>
           <h5>Intervenants Rôle</h5>
           <%= f.input :avatar_titre_p2 %>
           <h5>Intervenants Site internet</h5>
           <%= f.input :avatar_url_p2 %>
           <h5>Intervenants img</h5>
           <%= f.input :avatar_img_p3 %>
           <h5>Intervenants Nom</h5>
           <%= f.input :avatar_name_p3 %>
           <h5>Intervenants Rôle</h5>
           <%= f.input :avatar_titre_p3 %>
           <h5>Intervenants Site internet</h5>
           <%= f.input :avatar_url_p3 %>
           <h5>Intervenants img</h5>
           <%= f.input :avatar_img_p4 %>
           <h5>Intervenants Nom</h5>
           <%= f.input :avatar_name_p4 %>
           <h5>Intervenants Rôle</h5>
           <%= f.input :avatar_titre_p4 %>
           <h5>Intervenants Site internet</h5>
           <%= f.input :avatar_url_p4 %>
           <h5>Intervenants img</h5>
           <%= f.input :avatar_img_p5 %>
           <h5>Intervenants Nom</h5>
           <%= f.input :avatar_name_p5 %>
           <h5>Intervenants Rôle</h5>
           <%= f.input :avatar_titre_p5 %>
           <h5>Intervenants Site internet</h5>
           <%= f.input :avatar_url_p5 %>
           <h5>Intervenants img</h5>
           <%= f.input :avatar_img_p6 %>
           <h5>Intervenants Nom</h5>
           <%= f.input :avatar_name_p6 %>
           <h5>Intervenants Rôle</h5>
           <%= f.input :avatar_titre_p6 %>
           <h5>Intervenants Site internet</h5>
           <%= f.input :avatar_url_p6 %>
           <h5>Intervenants img</h5>
           <%= f.input :avatar_img_p7 %>
           <h5>Intervenants Nom</h5>
           <%= f.input :avatar_name_p7 %>
           <h5>Intervenants Rôle</h5>
           <%= f.input :avatar_titre_p7 %>
           <h5>Intervenants Site internet</h5>
           <%= f.input :avatar_url_p7 %>
           <h5>Intervenants img</h5>
           <%= f.input :avatar_img_p8 %>
           <h5>Intervenants Nom</h5>
           <%= f.input :avatar_name_p8 %>
           <h5>Intervenants Rôle</h5>
           <%= f.input :avatar_titre_p8 %>
           <h5>Intervenants Site internet</h5>
           <%= f.input :avatar_url_p8 %>
           <h5>Intervenants img</h5>
           <%= f.input :avatar_img_p9 %>
           <h5>Intervenants Nom</h5>
           <%= f.input :avatar_name_p9 %>
           <h5>Intervenants Rôle</h5>
           <%= f.input :avatar_titre_p9 %>
           <h5>Intervenants Site internet</h5>
           <%= f.input :avatar_url_p9 %>
           <h5>Intervenants img</h5>
           <%= f.input :avatar_img_p10 %>
           <h5>Intervenants Nom</h5>
          <%= f.input :avatar_name_p10 %>
          <h5>Intervenants Rôle</h5>
          <%= f.input :avatar_titre_p10 %>
          <h5>Intervenants Site internet</h5>
          <%= f.input :avatar_url_p10 %>


         </div>

         <div class="form-actions">
           <%= f.button :submit, class: "btn btn-danger title-new" %>
         </div>
       <% end %>
</div>
</div>
