    <div class="d-flex container justify-content-center display-bubble">
    <%= simple_form_for(@mentorat) do |f| %>
         <%= f.error_notification %>
         <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

         <div class="form-inputs">
           <h3 class="title-new">Modifier un mentorat</h3>
                  <h5>Titre</h5>
           <%= f.input :titre_m %>
           <h5>Sous-titre</h5>
           <%= f.input :sous_titre_m %>
           <h5>Date</h5>
           <%= f.input :date_m %>
           <h5>Lieu</h5>
           <%= f.input :lieu_m %>
           <h5>Site internet</h5>
           <%= f.input :lien_url1_m %>
           <%= f.input :lien_url2_m %>
           <h5>Vidéo 1 et 2</h5>
           <%= f.input :video_m %>
           <%= f.input :video_m2 %>

           <h5>Paragraphes</h5>
           <%= f.input :paraph_m1 %>
           <%= f.input :paraph_m2 %>
           <%= f.input :paraph_m3 %>
           <%= f.input :paraph_m4 %>

           <h5>Images</h5>
           <%= f.input :img_m1 %>
           <%= f.input :img_m2 %>
           <%= f.input :img_m3 %>
           <%= f.input :img_m4 %>
           <%= f.input :img_m5 %>
           <h5>Légendes</h5>
           <%= f.input :legend_m1 %>
           <%= f.input :legend_m2 %>
           <%= f.input :legend_m3 %>
           <%= f.input :legend_m4 %>
           <%= f.input :legend_m5 %>

           <h5>Participants img</h5>
           <%= f.input :avatar_img_m1 %>
           <h5>Participants Nom</h5>
           <%= f.input :avatar_name_m1 %>
           <h5>Participants Rôle</h5>
           <%= f.input :avatar_titre_m1 %>
           <h5>Participants Site internet</h5>
           <%= f.input :avatar_url_m1 %>
           <h5>Participants img</h5>
           <%= f.input :avatar_img_m2 %>
           <h5>Participants Nom</h5>
           <%= f.input :avatar_name_m2 %>
           <h5>Participants Rôle</h5>
           <%= f.input :avatar_titre_m2 %>
           <h5>Participants Site internet</h5>
           <%= f.input :avatar_url_m2 %>
           <h5>Participants img</h5>
           <%= f.input :avatar_img_m3 %>
           <h5>Participants Nom</h5>
           <%= f.input :avatar_name_m3 %>
           <h5>Participants Rôle</h5>
           <%= f.input :avatar_titre_m3 %>
           <h5>Participants Site internet</h5>
           <%= f.input :avatar_url_m3 %>
           <h5>Participants img</h5>
           <%= f.input :avatar_img_m4 %>
           <h5>Participants Nom</h5>
           <%= f.input :avatar_name_m4 %>
           <h5>Participants Rôle</h5>
           <%= f.input :avatar_titre_m4 %>
           <h5>Participants Site internet</h5>
           <%= f.input :avatar_url_m4 %>
           <h5>Participants img</h5>
           <%= f.input :avatar_img_m5 %>
           <h5>Participants Nom</h5>
           <%= f.input :avatar_name_m5 %>
           <h5>Participants Rôle</h5>
           <%= f.input :avatar_titre_m5 %>
           <h5>Participants Site internet</h5>
           <%= f.input :avatar_url_m5 %>
           <h5>Participants img</h5>
           <%= f.input :avatar_img_m6 %>
           <h5>Participants Nom</h5>
           <%= f.input :avatar_name_m6 %>
           <h5>Participants Rôle</h5>
           <%= f.input :avatar_titre_m6 %>
           <h5>Participants Site internet</h5>
           <%= f.input :avatar_url_m6 %>
           <h5>Participants img</h5>
           <%= f.input :avatar_img_m7 %>
           <h5>Participants Nom</h5>
           <%= f.input :avatar_name_m7 %>
           <h5>Participants Rôle</h5>
           <%= f.input :avatar_titre_m7 %>
           <h5>Participants Site internet</h5>
           <%= f.input :avatar_url_m7 %>
           <h5>Participants img</h5>
           <%= f.input :avatar_img_m8 %>
           <h5>Participants Nom</h5>
           <%= f.input :avatar_name_m8 %>
           <h5>Participants Rôle</h5>
           <%= f.input :avatar_titre_m8 %>
           <h5>Participants Site internet</h5>
           <%= f.input :avatar_url_m8 %>
           <h5>Participants img</h5>
           <%= f.input :avatar_img_m9 %>
           <h5>Participants Nom</h5>
           <%= f.input :avatar_name_m9 %>
           <h5>Participants Rôle</h5>
           <%= f.input :avatar_titre_m9 %>
           <h5>Participants Site internet</h5>
           <%= f.input :avatar_url_m9 %>
           <h5>Participants img</h5>
           <%= f.input :avatar_img_m10 %>
           <h5>Participants Nom</h5>
           <%= f.input :avatar_name_m10 %>
           <h5>Participants Rôle</h5>
           <%= f.input :avatar_titre_m10 %>
           <h5>Participants Site internet</h5>
           <%= f.input :avatar_url_m10 %>

         </div>

         <div class="form-actions">
           <%= f.submit "Save changes", class: "btn btn-danger title-new" %>
         </div>
       <% end %>
</div>

