    <div class="d-flex container justify-content-center display-bubble">
    <%= simple_form_for(@mentorat) do |f| %>
         <%= f.error_notification %>
         <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

         <div class="form-inputs">
           <h3 class="title-new">Modifier un mentorat</h3>
                    <%= f.input :titre_m %>
                   <%= f.input :sous_titre_m %>
                   <%= f.input :date_m %>
                   <%= f.input :lieu_m %>
                   <%= f.input :lien_url1_m %>
                   <%= f.input :lien_url2_m %>
                   <%= f.input :video_m %>
                   <%= f.input :video_m2 %>
                   <%= f.input :img_m1 %>
                   <%= f.input :legend_m1 %>
                   <%= f.input :img_m2 %>
                   <%= f.input :legend_m2 %>
                   <%= f.input :img_m3 %>
                   <%= f.input :legend_m3 %>
                   <%= f.input :img_m4 %>
                   <%= f.input :legend_m4 %>
                   <%= f.input :img_m5 %>
                   <%= f.input :legend_m5 %>
                   <%= f.input :avatar_img_m1 %>
                   <%= f.input :avatar_name_m1 %>
                   <%= f.input :avatar_url_m1 %>
                   <%= f.input :avatar_titre_m1 %>
                   <%= f.input :avatar_img_m2 %>
                   <%= f.input :avatar_name_m2 %>
                   <%= f.input :avatar_url_m2 %>
                   <%= f.input :avatar_titre_m2 %>
                   <%= f.input :avatar_img_m3 %>
                   <%= f.input :avatar_name_m3 %>
                   <%= f.input :avatar_url_m3 %>
                   <%= f.input :avatar_titre_m3 %>
                   <%= f.input :avatar_img_m4 %>
                   <%= f.input :avatar_name_m4 %>
                   <%= f.input :avatar_url_m4 %>
                   <%= f.input :avatar_titre_m4 %>
                   <%= f.input :avatar_img_m5 %>
                   <%= f.input :avatar_name_m5 %>
                   <%= f.input :avatar_url_m5 %>
                   <%= f.input :avatar_titre_m5 %>
                   <%= f.input :avatar_img_m6 %>
                   <%= f.input :avatar_name_m6 %>
                   <%= f.input :avatar_url_m6 %>
                   <%= f.input :avatar_titre_m6 %>
                   <%= f.input :avatar_img_m7 %>
                   <%= f.input :avatar_name_m7 %>
                   <%= f.input :avatar_url_m7 %>
                   <%= f.input :avatar_titre_m7 %>
                   <%= f.input :avatar_img_m8 %>
                   <%= f.input :avatar_name_m8 %>
                   <%= f.input :avatar_url_m8 %>
                   <%= f.input :avatar_titre_m8 %>
                   <%= f.input :avatar_img_m9 %>
                   <%= f.input :avatar_name_m9 %>
                   <%= f.input :avatar_url_m9 %>
                   <%= f.input :avatar_titre_m9 %>
                   <%= f.input :avatar_img_m10 %>
                  <%= f.input :avatar_name_m10 %>
                  <%= f.input :avatar_url_m10 %>
                  <%= f.input :avatar_titre_m10 %>
                   <%= f.input :paraph_m1 %>
                   <%= f.input :paraph_m2 %>
                   <%= f.input :paraph_m3 %>
                   <%= f.input :paraph_m4 %>

         </div>

         <div class="form-actions">
           <%= f.submit "Save changes", class: "btn btn-danger title-new" %>
         </div>
       <% end %>
</div>

